  //
    made by robotate
    exclusively for the WhiteHat house invitational
  body
    button(onclick='addPlayer()') Add Player
    input#playersInput(size='3', value='2', readonly='readonly')
    button(onclick='removePlayer()') Remove Player

    form#names
      - var i = 1
      for pl in playas
        input(type='text', value = pl.name, id = 'name'+i)
        br(id = 'br' + i)
        - i++
    
    button(onclick='redraw()') Refresh
    
    pls = [{name: 'rob', score: 12}, {name: 'lew', score: 15}]
    #games
      #player1
        table
          thead
          tbody
            for pl in playas
              tr
                td= pl.name
        
        
        
        
        
        
        
        h2#playerName1 test
        input#wins1(value='0 wins')
        input#losses1(value='0 losses')
        #1vs2
          | 1
          input#1vs2score1(value='0')
          | 2
          input#1vs2score2(value='0')
      #player2
        h2#playerName2 test2
        input#wins2(value='0 wins')
        input#losses2(value='0 losses')
        #1vs2
          | 1
          input#1vs2score1(value='0')
          | 2
          input#1vs2score2(value='0')
    script(src="/javascripts/mainpage.js")